{% extends 'layout.html.twig' %}

{% block content %}
    <nav class="navbar">
           <ul class="navbar-container">
               <li class="navbar-item"><img id="logo" src="Assets/logo_wild.jpg" alt="logo la petite évasion"/></li>
               <li class="navbar-item"><a class="navbar-link" href="#actu">Acceuil</a></li>
               <li class="navbar-item"><a class="navbar-link" href="#shorts">Cassement</a></li>
               <li class="navbar-item"><a class="navbar-link" href="#interview">Editeur de niveau</a></li>
               <li class="navbar-item"><a class="navbar-link" href="#contact">Règles</a></li>
           </ul>
      </nav>
{% endblock %}
