{% extends 'layout.html.twig' %}
    <link rel="stylesheet" href="/assets/css/home.css">
{% block content %}
    <div class="homeBackground" >
        <div class="titleContext">
            <h1> La petite évasion </h1>
            <p1>Moriarty s'enfuit des égouts de Londres. 
            Sherlock est à ses trousses! Il faut qu'il s'échappe au plus vite!
            On compte sur toi! 
            </p1>
        </div>
        <div class="buttonPlay">
            <button type="button">Jouer</button>
        </div>
    </div>

{% endblock %}

