{% extends 'layout.html.twig' %}

{% block content %}
    <div = class "background" >
        <div>
            <h1> La petite évasion </h1>
            <p1>Moriarty s'enfuit des égouts de Londres. 
            Sherlock est à ses trousses! Il faut qu'il s'échappe au plus vite!
            On compte sur toi! 
            </p1>
        </div>
        <div>
            <button type="button">Jouer</button>
        </div>
    </div>

{% endblock %}

