{% extends 'layout.html.twig' %}

{% block title %}
 {{ parent() }} - Bravo ! Tu as battu Sherlock !
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/wincondition.css">
{% endblock %}

{% block content %}
    <div class="winBackground">
    <div class="buble">
    <p class="bubleText">Rien n'est petit pour un grand esprit Moriarty. Tu as réussi aujourd'hui,
    mais nos chemins se croiseront à nouveau...</p>
    </div>
        <img class="winSherlock" src="assets/images/sherlock.png" alt=""/>
    </div>
{% endblock %}



