{% extends 'layout.html.twig' %}

{% block title %}
 {{ parent() }} - Bravo ! Tu as battu Sherlock !
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/win.css">
{% endblock %}

{% block content %}
    <div class="background">
        <img src="assets/images/backgroundwin.png" alt=""/>
    </div>
{% endblock %}
