{% extends 'layout.html.twig' %}

{% block title %}
 {{ parent() }} - Bravo ! Tu as battu Sherlock !
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/wincondition.css">
{% endblock %}

{% block content %}
    <div>
        <img class="moriartyPicture" src="assets/images/moriarty2.png" alt=""/>
        <img class="sherlockPicture" src="assets/images/sherlock.png" alt=""/>
        <h1>Félicitations</h1>
    </div>
    <h2 class="timeSentence">Vous avez fini le niveau en XX minutes et XX secondes</h2>
    <p class="formInformations">Veuillez entrer votre nom afin de l'enregistrer dans le classement</p>
    <form action="" method='post' class="formRecord">
        <input type='text' placeholder='Paul'>
        <button type='submit'>Envoyer</button>
    </form>
{% endblock %}



