{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
  <div class="arrow">
    <div class="outer"></div>
    <div class="inner"></div>
  </div>
  <div class="message-body">
    <p>Tu t'en sors bien sur ce coup Moriaty, mais la prochaine fois ça ne sera pas si facile...</p>
  </div>
</div>
{% endblock %}
