<nav class="navbar">
    <div class="hamburger" id="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <div class="nav-container">
        <ul class="nav-links">
            <li class="logo"><img src="/assets/images/logo.png" class="logo-image" alt=""></li>
            <li><a href="/">Accueil</a></li>
            <li><a href="/games">Jouer</a></li>
            <li><a href="/records">Classement</a></li>
            <li><a href="/editor">Editeur de niveau</a></li>        
        </ul>
    </div>
</nav>
