<nav class="navbar">
    <div class="hamburger" id="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="nav-links">
        <li><a href="/">Accueil</a></li>
        <li><a href="/records">Classement</a></li>
        <li><a href="/games">Editeur de niveau</a></li>
        <a href="#openModal">Règles</a>
        <div id="openModal" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <h2 class="modal-title">Règles</h2>
                <p class="modal-content">Vous devez vous enfuir en utilisant le moins de mouvent possible !</p>
                <p></p>
            </div>
        </div>
    </ul>
</nav>
