<nav class="navbar">
    <div class="hamburger" id="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="nav-links">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Classement</a></li>
        <li><a href="#">Editeur de niveau</a></li>
        <li><a href="#">Règles</a></li>
    </ul>
</nav>