body {
    background-image: url('../images/maze-mobile.png');
    background-size: cover;
    height: 100vh;
    text-align: center;
    background-color: #303030;
}

.game,
.level-grid {
    --grid-dimension: 5;
    --grid-size: 3rem;
    display: grid;
    grid-template-columns: repeat(var(--grid-dimension), var(--grid-size));
    grid-template-rows: repeat(var(--grid-dimension), var(--grid-size));
    margin-bottom: 1rem;
}

.level-grid {
    --grid-size: 5rem;
}

.game {
    justify-content: center;
}

.level-grid {
    align-self: flex-start;
}

.level-name {
    color: #a5a5a5;
}

.game-tile,
.level-tile {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player,
.wall,
.finish {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.player {
    background-image: url(../images/moriarty.png);
}

.floor {
    background-color: lightgray;
}

.finish {
    background-image: url(../images/echelle.png);
}
    
.wall {
    background-image: url(../images/wall.png);
}

.game-direction {
    font-size: 3rem;
    color: black;
    text-decoration: none;
    padding: 30%;
}

.wall .game-direction {
    display: none;
}

.editor-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
}

.editor-label {
    color: #a5a5a5;
    font-size: 2rem;
}

.editor-submit {
    color: #292929;
    font-size: 4rem;
}

.editor-input {
    width: min(40rem, 90vw);
    margin-bottom: 1rem;
}

.level-input,
.level-input + .level-label {
    display: none;
}

.level-input:checked + .level-label {
    display: block;
}

.level-label {
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 400px) and (max-width: 680px) {
    .game {
        --grid-size: 4rem;
    }
}

@media screen and (min-width: 680px) and (max-width: 1300px)  {
    body {
        background-image:url("../images/maze-ipad.png") ;
    } 
    .game {
        --grid-size: 5.5rem;
    }
}

@media screen and (min-width: 1300px) { 
    body {
        background-image:url("../images/maze-desktop.png");
    } 
    .game {
        --grid-size: 6rem;
    }
}