body {
    text-align: center;
    background-color: #303030;
}

.game {
    --grid-dimension: 5;
    --grid-size: 7rem;
    display: grid;
    grid-template-columns: repeat(var(--grid-dimension), var(--grid-size));
    grid-template-rows: repeat(var(--grid-dimension), var(--grid-size));
    justify-content: center;
    padding-bottom: 1rem;
}

.level-name {
    color: whitesmoke;
}

.game-tile {
    border: 2px solid black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    background-image: url(../images/moriarty.png);
}

.floor {
    background-color: lightgray;
}

.finish {
    background-color: lightgrey;
    background-image: url(../images/echelle.png);
    }
    

.wall {
    background-image: url(../images/wall.png);
}

.game-direction {
    font-size: 3rem;
    color: black;
    text-decoration: none;
    padding: 30%;
}

.wall .game-direction {
    display: none;
}