body {
    text-align: center;
    background-color: #303030;
}

.game {
    --grid-dimension: 5;
    --grid-size: 7rem;
    display: grid;
    grid-template-columns: repeat(var(--grid-dimension), var(--grid-size));
    grid-template-rows: repeat(var(--grid-dimension), var(--grid-size));
    justify-content: center;
    padding-bottom: 1rem;
}

.level-name {
    color: whitesmoke;
}

.player, .wall, .floor {
    border: 2px solid black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration:none;
    align-items: center;
}

.player {
    background-image: url(../images/moriarty.png);
}

.floor {
    background-color: lightgray;
}

.wall {
    background-image: url(../images/wall.png);
}

.link-position{
    position: relative;
}

.link-position-span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: black;
}