*{
    margin:0;
    padding:0;
}

.homeBackground{
    background-image:url("../images/maze-mobile.png");
    background-size: cover;
    height: calc(100vh - var(--navbar-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleContext {
    background-color: #A5A5A5;
    opacity: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 2rem;
    border-radius: 3rem;
}

.titleContext h1{
    margin-bottom: 25px;
    text-align: center;
    font-size: 3rem;
    color: black;
}

.titleContext p {
    color: black;
    font-size: 2rem;
    text-align: center;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}


div a:visited {
    color: #292929;
}

a {
    text-decoration: none;
}


@media screen and (min-width: 680px) and (max-width: 1300px)  {
    .titleContext p {
        font-size: 2.5rem;
    }
    .homeBackground {
        background-image:url("../images/maze-ipad.png") ;
    } 
}

@media screen and (min-width: 1300px) { 
    .titleContext p {
        font-size: 2.5rem;
    }
    .homeBackground {
        background-image:url("../images/maze-desktop.png");
    } 
}