
body {
    background-image: url('../images/maze-mobile.png');
    background-size: cover;
    height: 100vh;
}

table {
    margin: auto;
    background-color: #333333;
    border-collapse: collapse;
    color: whitesmoke;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th:first-child {
  width: 33.3%;
}

h1 {
    color: whitesmoke;
    text-align: center;
}

th, td {
    padding: 8px;
    text-align: center;
}

@media screen and (min-width: 680px) and (max-width: 1300px)  {
    body {
        background-image:url("../images/maze-ipad.png") ;
    } 
}

@media screen and (min-width: 1300px) { 
    body {
        background-image:url("../images/maze-desktop.png");
    } 
}