
body {
    background-color: lightgrey;
    font-family: 'Monaco';
}

.leaderboard-list {
    display: flex;
    list-style-type: none;
    color: whitesmoke;
}

li {
   
    padding-right: 2rem;
}

/*--------------------
Leaderboard
--------------------*/
.leaderboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 8;
    background: linear-gradient(to bottom, #3a404d, #181c26);
    border-radius: 10px;
    box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
}

.leaderboard h1 {
    font-size: 18px;
    color: #e1e1e1;
    padding: 12px 13px 18px;
}

