body {
    margin: 0;
    padding: 0;
}
nav *{
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    letter-spacing: 1px;
}
nav{
    height: 11vh;
    width: 100%;
    background-color: #292929;
    display: flex;
}
/*Style logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;
}
.logo img {
    height: 100%;
    width: 100%;
}