@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

:root {
    --navbar-height: 7rem;
}

body {
	margin: 0;
	padding: 0;
}

nav * {
	margin: 0;
	padding: 0;
	color: #f2f5f7;
	letter-spacing: 2px;
	text-decoration: none;
	font-weight: bold;
}

.navbar {
	width: 100%;
	height: var(--navbar-height);
	background-color: #454545;
}


/*Style Links*/

.nav-links {
	display: flex;
	list-style: none;
	align-items: center;
	font-size: 2.5rem;
}

.nav-links li a {
	text-decoration: none;
}

.logo {
	margin-left: 1rem;
	height: 13vh;
}

.nav-links li {
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-right: auto;
	margin-left: auto;
}

/*Style burger Icon*/

.hamburger div {
	width: 30px;
	height: 3px;
	background: #f2f5f7;
	margin: 5px;
	transition: all 0.3s ease;
}

.hamburger {
	display: none;
}

@media screen and (max-width: 1000px) {

:root {
	--navbar-height: 0rem;
}

.navbar {
	position: fixed;
	height: revert;
	top: 0;
	z-index: 3;
}

.logo {
	display: none;
}

.hamburger {
	display: block;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translate(-0%, 30%);
	z-index: 2;
	transition: all 0.7s ease;
}
.nav-links {
	position: fixed;
	background: #292929;
	height: 100%;
	width: 100%;
	flex-direction: column;
	clip-path: circle(50px at 90% -20%);
	-webkit-clip-path: circle(50px at 90% -10%);
	transition: all 1s ease-out;
}
.nav-links.open {
	clip-path: circle(200% at 90% -10%);
	-webkit-clip-path: circle(200% at 90% -10%);
}

}
