body {
	margin: 0;
	padding: 0;
}

nav * {
	margin: 0;
	padding: 0;
	color: #f2f5f7;
	letter-spacing: 1px;
	text-decoration: none;
}

nav {
	width: 100%;
	background-color: #292929;
	display: flex;
}

.navbar {
	justify-content: center;
}


/*Style Links*/

.nav-links {
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}

.nav-links li a {
	text-decoration: none;
}

.nav-links li {
	padding-top: 2rem;
	padding-bottom: 2rem;
	align-items: center;
	margin-right: 2rem;
}


/*Style burger Icon*/

.hamburger div {
	width: 30px;
	height: 3px;
	background: #f2f5f7;
	margin: 5px;
	transition: all 0.3s ease;
}

.hamburger {
	display: none;
}

@media screen and (max-width: 800px) {
	nav {
		position: fixed;
		z-index: 3;
	}
	.hamburger {
		display: block;
		position: absolute;
		right: 5%;
		top: 50%;
		transform: translate(-0%, 30%);
		z-index: 2;
		transition: all 0.7s ease;
	}
	.nav-links {
		position: fixed;
		background: #131418; 
		height: 80%;
		width: 100%;
		flex-direction: column;
		clip-path: circle(50px at 90% -20%);
		-webkit-clip-path: circle(50px at 90% -10%);
		transition: all 1s ease-out;
	}
	.nav-links.open {
		clip-path: circle(1000px at 90% -10%);
		-webkit-clip-path: circle(1000px at 90% -10%);
	}
}

/* Modal */

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: black;
}

.modal-title{
	color:black;
	text-align: center;
}
.modal-content{
	padding-top: 1rem;
	color:black;
	text-align: center;
}