@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

*{
    margin:0;
    padding:0;
}

:root {
    --navbar-height: 7rem;
}

html {
    min-width: min-content;
}

body {
    font-family: 'Parisienne', cursive;
    background-image: url('../images/maze-mobile.png');
    height: calc(100vh - var(--navbar-height));
    background-size: cover;
    background-color: #292929;
    background-repeat: no-repeat;
    text-align: center;
}

#play, #createButton, #deleteButton {
    color: white;
    font-size: 2rem;
}

.buttonEditor {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 2rem;
    background-color: #3b3b3b;
    border-color: #413e3e;
    border-radius: 100% 100% 100% 100%;
    width: 17rem;
    font-size: 2rem;
    opacity: 80%;
    font-weight: bold;
    font-family: 'Parisienne', cursive;
}

.button:hover {
    background-color: #7F7F7F;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Home.css~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.homeBackground{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.titleContext {
    background-color: #A5A5A5;
    opacity: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 2rem;
    border-radius: 3rem;
}

.titleContext h1{
    margin-bottom: 25px;
    text-align: center;
    font-size: 3rem;
    color: black;
}

.titleContext p {
    color: black;
    font-size: 2rem;
    text-align: center;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}


div a:visited {
    color: #292929;
}

a {
    text-decoration: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~navbar.css~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~wincondition.css~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.winBackground {
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.pictures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(165, 165, 165, 0.2);
    padding: 0.2rem;
    margin-bottom: 2rem;
}

.congrats {
    opacity: none;
}

.moriartyPicture {
    width: 4rem;
}

.sherlockPicture {
    width: 3.7rem;
}

.formRecord {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.timeSentence {
    margin-bottom: 1.5rem;
    font-size: 1.9rem;
}

.formInformations {
    font-size: 1.4rem;
    padding: 0 10%;
}

.win-input-container {
    padding: 0 10%;
}

.win-input {
    width: 100%;
    height: 1.8rem;
    font-size: 1.6rem;
    font-family: Parisienne;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~game.css~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.game,
.level-grid {
    --grid-width: 5;
    --grid-height: 5;
    --grid-size: 3rem;
    display: grid;
    grid-template-columns: repeat(var(--grid-width), var(--grid-size));
    grid-template-rows: repeat(var(--grid-height), var(--grid-size));
    margin-bottom: 1rem;
}

.level-grid {
    --grid-size: 5rem;
}

.game {
    justify-content: center;
}

.level-grid {
    align-self: flex-start;
}

.level-name,
.level-description {
    color: whitesmoke;
}

.level-description {
    font-size: 2rem;
}

.game-tile,
.level-tile {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-content {
    height: 100%;
    width: 100%;
}

.game-direction,
.player,
.player-down,
.player-left,
.player-right,
.player-up,
.wall,
.finish {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.player {
    background-image: url(../images/moriarty.png);
}
.player-left {
    background-image: url(../images/moriarty-left.png);
}
.player-right {
    background-image: url(../images/moriarty-right.png);
}
.player-up {
    background-image: url(../images/moriarty-up.png);
}
.player-down {
    background-image: url(../images/moriarty-down.png);
}

.floor {
    background-color: lightgray;
}

.finish {
    background-image: url(../images/echelle.png);
}
    
.wall {
    background-image: url(../images/wall.png);
}

.direction-down {
    background-image: url(../images/arrow_down.svg);
}

.direction-right {
    background-image: url(../images/arrow_right.svg);
}

.direction-left {
    background-image: url(../images/arrow_left.svg);
}

.direction-up {
    background-image: url(../images/arrow_up.svg);
}

.wall .game-direction {
    display: none;
}

.editor-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
}

.editor-label {
    color: #a5a5a5;
    font-size: 2rem;
}

.editor-submit {
    background-color: #A5A5A5;
    opacity: 70%;
    color: #292929;
    font-size: 1rem;
    padding: 1rem 3rem;
    border-radius: 3rem;
}

.editor-input {
    width: min(40rem, 90vw);
    margin-bottom: 1rem;
}

.level-input,
.level-input + .level-label {
    display: none;
}

.level-input:checked + .level-label {
    display: block;
}

.level-label {
    height: 100%;
    width: 100%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Media Queries~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width: 400px) and (max-width: 680px) {
    .game {
        --grid-size: 4rem;
    }
}

@media screen and (min-width: 680px) and (max-width: 1000px)  {
    .titleContext p {
        font-size: 2.5rem;
    }
    body {
        background-image:url("../images/maze-ipad.png") ;
    } 
    .buttonEditor {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }  
    .button {
        text-align: center;
        padding: 30px;
        margin-top: 2rem;
        background-color: #3b3b3b;
        border-color: #413e3e;
        border-radius: 100% 100% 100% 100%;
        width: 17rem;
        opacity: 80%;
        font-weight: bold;
    }
    .game {
        --grid-size: 5.5rem;
    }
    .winBackground {
        padding: 0 10%;
    } 
    .pictures {
        height: 15%;
        margin-bottom: 3rem;
    }
    .congrats {
        font-size: 4rem;
    }
    .timeSentence {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .formInformations {
        font-size: 2rem;
    }
    .win-input {
        height: 3rem;
        font-size: 2rem;
    }
}

@media screen and (min-width: 1000px) { 
    .titleContext p {
        font-size: 2.5rem;
    }
    body {
        background-image:url("../images/maze-desktop.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #292929;
    } 
    .buttonEditor {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }  
    .button {
        text-align: center;
        padding: 30px;
        margin-top: 2rem;
        background-color: #3b3b3b;
        border-color: #413e3e;
        border-radius: 100% 100% 100% 100%;
        width: 17rem;
        opacity: 80%;
        font-weight: bold;
    }
    .game {
        --grid-size: 6rem;
    }
    .winBackground {
        padding: 0 20%;
    } 
    .pictures {
        height: 15%;
        margin-bottom: 3rem;
    }
    .congrats {
        font-size: 4rem;
    }
    .timeSentence {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .formInformations {
        font-size: 2rem;
    }
    .win-input {
        height: 2.5rem;
        font-size: 2rem;
    }
}
