{% extends 'layout.html.twig' %}
{% block title %}
Leaderboard 
{% endblock %}
{% block stylesheet %}
<link href="assets/css/leaderboard.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="leaderboard">
   <h1>Classement</h1>
   <table>
      <tr>
         <th>Pseudo</th>
         <th>Temps</th>
         <th>Niveau</th>
      </tr>
      {% for record in records %}
      <tr>
         <td>{{record.name}}</td>
         <td>{{ record.time }}</td>
         <td>{{ record.level_id }}</td>
      </tr>
      {% endfor %} 
   </table>
</div>
{% endblock %}
