{% extends 'layout.html.twig' %}

{% block title %}
Leaderboard 
{% endblock %}

{% block content %}
<div class="leaderboard">
   <h1 class="h1-leaderboard-editor">Classements</h1>
      {% for levelRecords in records %}
   <table class="table-leaderboard-editor">
      <tr class="first-tr-leaderboard-editor">
         <th colspan=2 class="th-leaderboard-editor">{{levelRecords[0].level_name}}</th>
      </tr>
      {% for record in levelRecords %}
      <tr class="tr-record">
         <td class="td-record">{{record.name}}</td>
         <td class="td-record">{{record.time}}</td>
      </tr>
      {% endfor %}
   </table>
      {% endfor %}
</div>
{% endblock %}
