{% extends 'layout.html.twig' %}

{% block title %}
Leaderboard 
{% endblock %}

{% block content %}
{% for record in records %}
<ul>
 <li class="leaderboard-nickname">{{ record.name }}</li>
 <time class="leaderboard-time">{{ record.time }}</time>
</ul>
{% endfor %} 
{% endblock %} 