{% extends 'layout.html.twig' %}

{% block title %}
Leaderboard 
{% endblock %}

{% block stylesheet %}
<link href="assets/css/leaderboard.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="leaderboard">
 <h1>
        Joueurs
    </h1>
<ul class="leaderboard-list">
    {% for record in records %}
        <li class="leaderboard-nickname">{{ record.name }}</li>
        <time class="leaderboard-time">{{ record.time }}</time>
        <li class="leaderboard-level">{{ record.level_id }}</li>
    {% endfor %} 
</ul>
</div>


{% endblock %} 