{% extends 'layout.html.twig' %}

{% block title %}
Leaderboard 
{% endblock %}

{% block content %}
<div class="leaderboard">
   <h1 class="h1-leaderboard-editor">Classement</h1>
   <table class="table-leaderboard-editor">
      <tr class="first-tr-leaderboard-editor">
         <th class="th-leaderboard-editor">Nom du niveau</th>
         <th>Temps</th>
      </tr>
      {% for record in records %}
      <tr class="second-tr-leaderboard-editor">
         <td>{{record.name}}</td>
         <td>{{ record.time }}</td>
      </tr>
      {% endfor %} 
   </table>
</div>
{% endblock %}
